@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url('../amg_gt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.cursor {
    cursor: pointer;
}